@model List<LoaiModel>
@* Razor *@
<!DOCTYPE html>
<html>
<head>
    <style>
        #type {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #type td, #type th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #type tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #type tr:hover {
                background-color: #ddd;
            }

            #type th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #04AA6D;
                color: white;
            }
    </style>
</head>
<body>

    <h1>Loai Table</h1>
    <button><a href="add">ADD</a></button>
    <table id="type">
        <tr>
            <th>ID</th>
            <th>Ten Loai</th>
            <th>Mo Ta</th>
            <th>Ma Loai Cha</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.TenLoai</td>
                    <td>@item.Mota</td>
                    <td>@item.MaLoaiCha</td>

                    <td>
                        <button>Edit</button>
                    </td>
                    <td>
                        <button>Delete</button>
                    </td>
                </tr>
            }
        }


    </table>

</body>
</html>