@model StoreManagement.Models.KhachHangModel;

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="myForm">
                <div class="form-group">
                    <label asp-for="HoTen" class="control-label">Họ Tên</label>
                    <input value="@Model.HoTen" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="MatKhau" class="control-label">Mật Khẩu</label>
                    <input asp-for="MatKhau" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="RandomKey" class="control-label"></label>
                    <input asp-for="RandomKey" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="DangHoatDong" class="control-label">Đang Hoạt Động</label>
                    <input asp-for="DangHoatDong" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="NhanQuangCao" class="control-label">Nhận Quảng Cáo</label>
                    <input asp-for="NhanQuangCao" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <input asp-for="CreatedBy" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="CreatedDate" class="control-label"></label>
                    <input asp-for="CreatedDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="UpdatedDate" class="control-label"></label>
                    <input asp-for="UpdatedDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="UpdatedBy" class="control-label"></label>
                    <input asp-for="UpdatedBy" class="form-control" />
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="btn-save" onclick="SubmitForm()"></button>
        </div>
    </div>
</div>
