@model List<StoreManagement.Dtos.KhachHangDto>
@{
    ViewData["Title"] = "Khách hàng";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();

    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<style>
    table {
        width: 500px;
    }

    .scroll {
        max-height: 60px;
        overflow: auto;
    }
</style>
<table border="1">
    <tr>
        <th>head1</th>
        <th>head2</th>
        <th>head3</th>
        <th>head4</th>
    </tr>
</table>
<div class="scroll">
    <table>
        <tr><td>Text Text</td><td>Text Text</td><td>Text Text</td><td>hahahahahahahahahahahahahahahahahahahahahahahahahahahaha </td></tr>
        <tr><td>Text Text</td><td>Text Text</td><td>Text Text</td><td>Text Text</td></tr>
        <tr><td>Text Text</td><td>Text Text</td><td>Text Text</td><td>Text Text</td></tr>
        <tr><td>Text Text</td><td>Text Text</td><td>Text Text</td><td>Text Text</td></tr>
        <tr><td>Text Text</td><td>Text Text</td><td>Text Text</td><td>Text Text</td></tr>
        <tr><td>Text Text</td><td>Text Text</td><td>Text Text</td><td>Text Text</td></tr>
        <tr><td>More Text</td><td>More Text</td><td>More Text</td><td>More Text</td></tr>
        <tr><td>Text Text</td><td>Text Text</td><td>Text Text</td><td>Text Text</td></tr>
        <tr><td>Even More Text Text</td><td>Even More Text Text</td><td>Even More Text Text</td><td>Even More Text Text</td></tr>
    </table>
</div>