@model StoreManagement.Models.ChiTietDHModel;

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="myForm">
                <div class="form-group">
                    <label asp-for="MaDH" class="control-label">Mã Đơn Hàng</label>
                    <input id="MaDH" value="@Model.MaDH" class="form-control" longProp="maDH" />
                </div>
                <div class="form-group">
                    <label asp-for="MaHH" class="control-label">Mã Hàng Hóa</label>
                    <input id="MaHH" asp-for="MaHH" class="form-control" required />
                </div>
                <div class="form-group">
                    <label asp-for="DonGia" class="control-label">Đơn Giá</label>
                    <input id="DonGia" asp-for="DonGia" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="SoLuong" class="control-label"></label>
                    <input id="SoLuong" asp-for="SoLuong" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <input id="CreatedBy" asp-for="CreatedBy" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="CreatedDate" class="control-label"></label>
                    <input id="CreatedDate" asp-for="CreatedDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="UpdatedDate" class="control-label"></label>
                    <input id="UpdatedDate" asp-for="UpdatedDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="UpdatedBy" class="control-label"></label>
                    <input id="UpdatedBy" asp-for="UpdatedBy" class="form-control" />
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-save" onclick="SubmitForm()"></button>
        </div>
    </div>
</div>
