@model StoreManagement.Models.ChiTietDHModel

@{
    ViewData["Title"] = "Add";
}

<link href="~/css/hai.css" rel="stylesheet" type="text/css" />

<div id="contact-form">
    <div>
        <h1>Thêm Chi Tiết Đơn Hàng</h1>
        <p></p>
        <h4>Have a question or just want to get in touch? Let's chat.</h4>
    </div>
    <p id="failure">Oopsie...message not sent.</p>
    <p id="success">Your message was sent successfully. Thank you!</p>


    <form asp-action="DoAdd">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="MaDH" class="control-label"></label>
            <input asp-for="MaDH" class="form-control" />
            <span asp-validation-for="MaDH" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MaHH" class="control-label"></label>
            <input asp-for="MaHH" class="form-control" />
            <span asp-validation-for="MaHH" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DonGia" class="control-label"></label>
            <input asp-for="DonGia" class="form-control" />
            <span asp-validation-for="DonGia" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SoLuong" class="control-label"></label>
            <input asp-for="SoLuong" class="form-control" />
            <span asp-validation-for="SoLuong" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreatedBy" class="control-label"></label>
            <input asp-for="CreatedBy" class="form-control" />
            <span asp-validation-for="CreatedBy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreatedDate" class="control-label"></label>
            <input asp-for="CreatedDate" class="form-control" />
            <span asp-validation-for="CreatedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedDate" class="control-label"></label>
            <input asp-for="UpdatedDate" class="form-control" />
            <span asp-validation-for="UpdatedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedBy" class="control-label"></label>
            <input asp-for="UpdatedBy" class="form-control" />
            <span asp-validation-for="UpdatedBy" class="text-danger"></span>
        </div>

        <div>
            <button name="submit" type="submit" id="submit">Create</button>
        </div>
        <div>
            <a style="color:white" asp-action="Index">Back to List</a>
        </div>

    </form>
</div>

