@model StoreManagement.Dtos.Respones.SearchResult<ChiTietDHModel>

@{
    ViewData["Title"] = "ChiTietDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var paging = Tuple.Create(Model.TotalRecords, Model.PageSize,"ChiTietDH");
    var currentPage = Model.CurrentPage;
    var pageSize = Model.PageSize;
    var data = Model.Data.ToList();
}
<div class="row">
    <div class="col-md-12">
        <div class="card" style="margin-bottom: 11px;">
            <div class="card-header">
                <div class="row">
                    <form class="update col-md-2">
                        <a href="#" class="btn btn-primary btn-round" onclick="ShowAddModal(0)">Thêm mới</a>
                    </form>
                    <div class="col-md-10">
                        <button style="margin-left:849px" type="button" onclick="fnExcelReport('myTableData','data')" class="btn btn-primary">Export Data</button>

                        <form style="width: 300px; padding-top: 11px; " class="pull-right">
                            <div class="form-group form-inline" style="float:right">
                                <input placeholder="Nhập từ khóa" type="text" name="searchkey" id="search-chitietdonhang" onchange="search(event)" class="form-control form-inline" />
                                <input type="submit" name="submit" value="Tìm Kiếm" class="from-control" onclick="search(event)" id="btn-search" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="thead-content">
                    <thead class=" text-primary">
                        <tr>
                            <th class="w-5p">
                                STT
                            </th>
                            <th class="w-20p">
                                Ngày Lập
                            </th>
                            <th class="w-20p">
                                Ngày Sửa
                            </th>
                            <th class="w-15p">
                                Mã Đơn Hàng
                            </th>
                            <th class="w-10p">
                                Đơn Giá
                            </th>
                            <th class="w-15p">
                                Số Lượng
                            </th>
                            <th class="w-6p">Thao tác</th>
                        </tr>
                </table>

                <div class="table-responsive" id="chitietdonhang-list">
                    @await Html.PartialAsync("_ListPartial", data)
                </div>

            </div>
        </div>
    </div>
</div>
<div style="margin: 0 auto">

    @await Html.PartialAsync("Pagination", paging)
</div>

@*using external js file*@
<script src="/js/app/chitietdonhang.js"></script>

<script>
    var currentPage = @currentPage;
    var pageSize = @pageSize;
</script>