@model StoreManagement.Models.HangHoaModel;

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="myForm">
                <div class="form-group" style="display:none!">
                    <input id="IdHangHoa" value="@Model.Id" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="TenHH" class="control-label">Tên Hàng Hóa</label>
                    <input id="TenHH" value="@Model.TenHH" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="TenLoai" class="control-label">Tên Loại</label>
                    <input id="TenLoai" asp-for="TenLoai" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="SoLuong" class="control-label">Số Lượng</label>
                    <input id="SoLuong" asp-for="SoLuong" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="DonGia" class="control-label">Đơn Giá</label>
                    <input id="DonGia" asp-for="DonGia" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="GiamGia" class="control-label">Giảm Giá</label>
                    <input id="GiamGia" asp-for="GiamGia" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ChiTiet" class="control-label">Chi Tiết</label>
                    <input id="ChiTiet" asp-for="ChiTiet" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="IdLoai" class="control-label">Id Loại</label>
                    <input id="IdLoai" asp-for="IdLoai" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="MaLoai" class="control-label">Mã Loại</label>
                    <input id="MaLoai" asp-for="MaLoai" class="form-control" />
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-save" onclick="SubmitForm()"></button>
        </div>
    </div>
</div>
