@model StoreManagement.Dtos.Respones.SearchResult<HangHoaModel>

@{
    ViewData["Title"] = "HangHoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var paging = Tuple.Create(Model.TotalRecords, Model.PageSize, "HangHoa");
    var currentPage = Model.CurrentPage;
    var pageSize = Model.PageSize;
    var data = Model.Data.ToList();
}

<div class="row">
    <div class="col-md-12">
        <div class="card" style="margin-bottom: 11px;">
            <div class="card-header">
                <div class="row">
                    <form class="update col-md-2">
                        <a href="#" class="btn btn-primary btn-round" onclick="ShowAddModal(0)">Thêm mới</a>
                    </form>

                    <div class="col-md-10">
                        <button style="margin-left:849px" type="button" onclick="exportAction('HangHoa/Export')" class="btn btn-primary">Export Data</button>

                        <form name="" style="width: 300px; padding-top: 11px; " class="pull-right">
                            <input id="fileSelect" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                            <input type="submit" name="submit" value="Tìm Kiếm" class="from-control" onclick="importAction(event, 'fileSelect', 'HangHoa/Import')" id="btn-import" />
                        </form>

                        <form name="timkiem" style="width: 300px; padding-top: 11px; " class="pull-right">
                            <div class="form-group form-inline" style="float:right">
                                <input placeholder="Nhập từ khóa" type="text" name="searchkey" id="search-HangHoa" onchange="search(event)" class="form-control form-inline" />
                                <input type="submit" name="submit" value="Tìm Kiếm" class="from-control" onclick="search(event)" id="btn-search" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="myTable" class="thead-content">
                    <thead class=" text-primary">
                        <tr>
                            <th class="w-5p">
                                STT
                            </th>
                            <th class="w-15p">
                                Tên Hàng Hóa
                            </th>
                            <th class="w-12p">
                                Số Lượng
                            </th>
                            <th class="w-10p">
                                Đơn Giá
                            </th>
                            <th class="w-10p">
                                Chi Tiết
                            </th>
                            <th class="w-8p">Thao tác</th>
                        </tr>
                </table>

                <div class="table-responsive" id="hanghoa-list">
                    @await Html.PartialAsync("_ListPartial", data)
                </div>

            </div>
        </div>
    </div>
</div>

<div style="margin: 0 auto" id="sec-pagination">
    @await Html.PartialAsync("Pagination", paging)
</div>

<script src="~/js/app/hanghoa.js"></script>

<script>
    var currentPage = @currentPage;
    var pageSize = @pageSize;
</script>
