<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src=~/js/app/role.js></script>

<h1 id="errMsg"></h1>


<form class="col-12 col-md-12" id="form">
    <div class="form-group-label" name="password">
        <label class="form-label">Name</label>
        <input id="name" class="form-input ip-focus" type="text" value="" autocomplete="on" />
    </div>
    <div class="form-group-label" name="password">
        <label class="form-label">Name1</label>
        <input id="name1" class="form-input ip-focus" type="text" value="" autocomplete="on" />
    </div>

    <div class="modal-footer add-user-footer border-0 d-block w-100 pull-left p-0">
        <button type="button" class="btn coba-btn-close pull-left" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn coba-btn-save ml-5 pull-right pl-5 pr-5" onclick="submitForm()" id="btnsubmit">Thêm</button>
    </div>
</form>