.footer.footer-black.footer-white {
    line-height: 7px;
    position: fixed;
    height: 50px;
    display: block;
    bottom: 0;
    background: #fff;
    width: calc(100% - 260px);
}

.main-panel {
    height: 100% !important;
}

    .main-panel > .content {
        margin-top: 100px !important;
    }

.table-responsive {
    height: 650px;
    overflow-x: auto !important;
}

.tbl-contents {
    overflow: hidden !important;
}

/* style fixed-header*/
.thead-content {
    width: 100% !important;
}

    .thead-content > thead > tr > th {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        border: 0;
        vertical-align: middle;
    }
/* end */

