<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="../assets/img/logo-small.png">
            </div>
            <!-- <p>CT</p> -->
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
            Im a LOL
            <!-- <div class="logo-image-big">
              <img src="../assets/img/logo-big.png">
            </div> -->
        </a>
    </div>
    <div class="sidebar-wrapper" style="overflow-x: hidden">
        <ul class="nav">
            <li class="active ">
                <a href="/Home">
                    <i class="nc-icon nc-bank"></i>
                    <p>Trang chủ</p>
                </a>

            </li>
            <li>
                <a href="/Loai">
                    <i class="nc-icon nc-diamond"></i>
                    <p>Loại</p>
                </a>
            </li>
            <li>
                <a href="/KhachHang">
                    <i class="nc-icon nc-bank"></i>
                    <p>Khách Hàng</p>
                </a>
            </li>
            <li>
                <a href="/ds-khach-hang">
                    <i class="nc-icon nc-bank"></i>
                    <p>Ds Khách Hàng</p>
                </a>
            </li>
            <li>
                <a href="/HangHoa">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>Hàng hóa</p>
                </a>
            </li>

            <li>
                <a href="/don-hang">
                    <i class="nc-icon nc-single-02"></i>
                    <p>Đơn hàng</p>
                </a>
            </li>
            <li>
                <a href="/ChiTietDH">
                    <i class="nc-icon nc-tile-56"></i>
                    <p>Chi Tiết Đơn Hàng</p>
                </a>
            </li>
        </ul>
    </div>
</div>
