@using StoreManagement.Dtos.Params
@*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-action="Index">Store</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Loai/Index">Loai</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/KhachHang/Index">Khach Hang</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/HangHoa/Index">Hang Hoa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/DonHang/Index">Don Hang</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/ChiTietDH/Index">Chi Tiet DH</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>*@


<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="../assets/img/logo-small.png">
            </div>
            <!-- <p>CT</p> -->
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
            Im a LOL
            <!-- <div class="logo-image-big">
              <img src="../assets/img/logo-big.png">
            </div> -->
        </a>
    </div>
    <div class="sidebar-wrapper" style="overflow-x: hidden">
        <ul class="nav">
            <li class="active ">
                <a href="/Home">
                    <i class="nc-icon nc-bank"></i>
                    <p>Trang chủ</p>
                </a>

            </li>
            <li>
                <a href="/Loai">
                    <i class="nc-icon nc-diamond"></i>
                    <p>Loại</p>
                </a>
            </li>
            <li>
                <a href="/KhachHang">
                    <i class="nc-icon nc-bank"></i>
                    <p>Khách Hàng</p>
                </a>
            </li>
            <li>
                <a href="/ds-khach-hang">
                    <i class="nc-icon nc-bank"></i>
                    <p>Ds Khách Hàng</p>
                </a>
            </li>
            <li>
                <a href="/HangHoa">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>Hàng hóa</p>
                </a>
            </li>

            <li>
                <a href="/don-hang">
                    <i class="nc-icon nc-single-02"></i>
                    <p>Đơn hàng</p>
                </a>
            </li>
            <li>
                <a href="/ChiTietDH">
                    <i class="nc-icon nc-tile-56"></i>
                    <p>Chi Tiết Đơn Hàng</p>
                </a>
            </li>
            @*<li>
            <a href="./typography.html">
                <i class="nc-icon nc-caps-small"></i>
                <p>Typography</p>
            </a>
        </li>
        <li class="active-pro">
            <a href="./upgrade.html">
                <i class="nc-icon nc-spaceship"></i>
                <p>Haha Hihi Hoho</p>
            </a>
        </li>*@
        </ul>
    </div>
</div>
