@using StoreManagement.Data;
@using StoreManagement.Common.Helpers;
@{
    var isAuthenticated = !LoggedOnUser.Get().IsNull();
}
<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="../assets/img/logo-small.png">
            </div>
            <!-- <p>CT</p> -->
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
            @{
                var name = isAuthenticated ? LoggedOnUser.Get().UserName : "...";
            }
            @name
        </a>
    </div>
    <div class="sidebar-wrapper" style="overflow-x: hidden">
        <ul class="nav">
            <li class="active ">
                <a href="/Home">
                    <i class="nc-icon nc-shop"></i>
                    <p>Trang chủ</p>
                </a>

            </li>
            <li>
                <a href="/Loai">
                    <i class="nc-icon nc-bullet-list-67"></i>
                    <p>Loại</p>
                </a>
            </li>
            <li>
                <a href="/KhachHang">
                    <i class="nc-icon nc-single-02"></i>

                    <p>Khách Hàng</p>
                </a>
            </li>
            <li>
                <a href="/HangHoa">
                    <i class="nc-icon nc-cart-simple"></i>
                    <p>Hàng hóa</p>
                </a>
            </li>

            <li>
                <a href="/DonHang">
                    <i class="nc-icon nc-bag-16"></i>
                    <p>Đơn hàng</p>
                </a>
            </li>
            <li>
                <a href="/ChiTietDH">
                    <i class="nc-icon nc-tile-56"></i>
                    <p>Chi Tiết Đơn Hàng</p>
                </a>
            </li>
            <li>
                <a href="/Account">
                    <i class="nc-icon nc-simple-add"></i>
                    <p>Thêm User</p>
                </a>
            </li>
        </ul>
    </div>
</div>
